@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url(https://fonts.googleapis.com/css?family=Fugaz+One:regular);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    margin: 0; padding: 0;
}

body {overflow-x: hidden;}

html {
    scroll-behavior: smooth;
}

:root {
    --cor01: #F2BEA0;
    --cor02: #BF8773;
    --cor03: #995842;
    --cor04: #59201B;
    --cor05: #FAF2E9;
    --cor06: #111111;
    --cor07-transp: #ffffff81;
    --cor08: #F2F2F2;
    --cor09: #242424e1;
    --cor10: #e0dbdeea;

    --font-padrao: 'Yanone Kaffeesatz', sans-serif;
    --font-titulo: 'Fugaz One', cursiva;
}
/*seção inicial*/
.s1 {
    width: 100vw; height: 100vh; background: var(--cor06); position: relative;
}

.header {
    width: 100%; height: 20vh; background: var(--cor06);
    display: flex; justify-content: space-between; align-items: center; padding: 0 3rem;
}
.menu {
    display: flex; gap: 1rem; list-style: none;
}

.menu a {
    text-decoration: none; color: var(--cor05); font-family: var(--font-padrao); font-size: 1.5rem;
    transition: .6s ease-out;
}
.menu a:hover {
    color: var(--cor10);
}

#bnt-mobile {
    color: var(--cor08); font-size: 1.6rem; display: none; cursor: pointer;
}

#tel-menor {display: none;}

/*responsividade mobile*/

@media screen and (max-width: 678px) {

    #tel-maior {display: none;} #tel-menor {display: block;}

    #bnt-mobile {display: block;}
    .menu {
        display: block;
        position: absolute; top: 20%; right: 0;
        background: var(--cor06); 
        width: 0; height: 80vh; 
        visibility: hidden;
        overflow: hidden;
        transition: .6s; z-index: 99999;
    }

    .nav.active .menu {
        display: block;
        visibility: visible; width: 50%;
    }
    
    .menu a {
        display: block;
        padding: 2rem 0;
        margin: 0 2.5rem; text-align: center;
        border-bottom: 2px solid var(--cor07-transp);
    }
}

/*carrossel de imagens*/

.conteiner-home {
    display: flex; justify-content: center;
    width: 100%; height: 100%; 
}

.carrossel-conteiner {
    width: 1000px; height: 450px; margin: 2rem;
    border-radius: 100px 100px 300px 100px ; overflow: hidden;
    box-shadow: 10px 8px 12px #00000083;
}

.carrossel-conteiner ul {
    width: 1000px; height: 450px;
    display: flex; list-style: none; 
}
.carrossel-conteiner li {
    position: relative; animation: slide 25s infinite ease-out;
}

.carrossel-conteiner img {
    width: 1000px; height: 450px;
}

@keyframes slide {
    0% {left: 0px}
    15% {left: 0px;}

    25% {left: -1000px;}
    40% {left: -1000px;}

    50% {left: -2000px;}
    65% {left: -2000px;}

    75% {left: -3000px;}
    90% {left: -3000px;}

    100% {left: 0px;}
}

@media screen and (max-width: 678px) {
    .carrossel-conteiner {
        border-radius:  0px;
    }
}

.reset {
    width: 70px; height: 70px; background: var(--cor02);
    position: fixed; bottom: 10%; right: 3%; border-radius: 20px; color: var(--cor05);
    display: flex; justify-content: center; align-items: center; font-size: 2.4rem; cursor: pointer;
    z-index: 10000; overflow: hidden;
}
@media screen and (max-width: 678px) {
    .reset {
        width: 50px; height: 50px;
        position: fixed; bottom: 10%; right: 5%;
        font-size: 2.2rem;
    }
}

/*section s2- Atendimento*/

.s2 {
    width: 100vw; height: 100vh; background: var(--cor08);
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    position: relative;
}
.title {
    width: 100%; height: 100px; padding-left: 10rem;
}
.title h1 {
    font-family: var(--font-titulo); font-size: 2rem;
}

.form {
    width: 60%; height: 60%;
    display: flex; flex-direction: column; align-items: flex-start;
}

#name, #email, #msg {
    width: 50%; height: 2rem; outline: 0;
    margin-bottom: 1.5rem; border-radius: 10px;
    font-family: var(--font-padrao); font-size: 1.2rem;
    padding: .5rem; border: 2px solid var(--cor04); background: 0;
}
#msg {height: 6rem;}

::placeholder {
    color: var(--cor09);
}

#bnt-form {
    background: var(--cor04); border: 0; font-size: 1.2rem; padding: .3rem .9rem;
    border-radius: 10px; color: var(--cor05); cursor: pointer; margin-bottom: 2rem;
}

.whats {
    background-color: #5FC2B7; 
    font-family: var(--font-padrao); font-size: 1.4rem; padding: .4rem; border-radius: 10px;
}
.whats a {
    text-decoration: none; color: var(--cor05);
}

#img-contato {
    width: 300px; height: 300px;
    position: absolute; top: 10rem; right: 12rem;
}
.whats-mobile {display: none;}

/*responsividade mobile*/

@media screen and (max-width: 768px) {
    .whats {display: none;}

    .whats-mobile {display: block;}
    .whats-mobile a {
        text-decoration: none; color: var(--cor05); background-color: #5FC2B7;
        padding: .3rem .6rem; border-radius: 10px; cursor: pointer; font-size: 1.5rem;
        font-family: var(--font-padrao); 
    }
}

@media screen and (max-width: 1100px) {
    #img-contato {display: none;}
    #name, #email, #msg {
        width: 100%;
    }
    .title {padding-left: 4rem;}
}

/*section s3 - Sobre-nós*/

.s3 {
    width: 100vw; height: 100vh; background: var(--cor06);
    display: flex; 
}

.img-sobre {
    width: 40%; height: 100%;
    display: flex; justify-content: center; align-items: center;
    background-image: url(https://images.pexels.com/photos/3735618/pexels-photo-3735618.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover; background-position: center center; 
}

.text-sobre {
    width: 60%; height: 100%;
    font-family: var(--font-titulo); padding: 4rem 2rem 0 5rem; color: var(--cor05);
}
.text-sobre h1 {
    font-size: 2rem; margin-bottom: 2rem;
}
.text-sobre h2 {
    font-size: 1.6rem; margin-bottom: 2rem;
}
.text-sobre p {
    font-size: 1.1rem; margin-bottom: 2rem;
}

.midias {
    display: flex; gap: 2rem;
}
.midias a {
    text-decoration: none; font-family: var(--font-padrao); font-size: 1.8rem; color: var(--cor05);
    background: var(--cor02); padding: .3rem .9rem; border-radius: 10px; cursor: pointer;
}

#insta {
    margin-top: 5rem; font-size: 3rem; color: var(--cor05);
}
#insta a {
    text-decoration: none; 
}

/*responsividade mobile*/

@media screen and (max-width: 678px) {
    .midias {
        display: flex; flex-direction: column; width: 70%; gap: 1rem;
    }
    .midias a {font-size: 1.2rem; padding: .3rem .6rem; text-align: center; }
    .img-sobre {display: none;}
    .text-sobre {
        width: 100%; padding: 1rem 2rem;
    }
    .text-sobre h2, p {
        font-size: 1.3rem;
    }
    .text-sobre h1 {font-size: 1.6rem;}
    #insta {margin-top: 1.8rem; font-size: 1.8rem;}
}

@media (min-width: 679px) and (max-width: 1236px) {
    .text-sobre {width: 100%; padding: 1rem 3rem}
    .text-sobre h2, p { font-size: 1rem;}
    .midias a {font-size: 1.2rem;}
    #insta {margin-top: 1rem; font-size: 2rem;}
    .img-sobre {display: none;}
}