@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url(https://fonts.googleapis.com/css?family=Fugaz+One:regular);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --cor01: #F2BEA0;
    --cor02: #BF8773;
    --cor03: #995842;
    --cor04: #59201B;
    --cor05: #FAF2E9;
    --cor06: #111111;
    --cor07-transp: #ffffff81;
    --cor08: #F2F2F2;
    --cor09: #242424e1;
    --cor10: #e0dbdeea;

    --font-padrao: 'Yanone Kaffeesatz', sans-serif;
    --font-titulo: 'Fugaz One', cursiva;
}
/*seção inicial*/
.s1 {
    width: 100vw; height: 100vh;
}

.header {
    width: 100%; height: 20vh; background: var(--cor06);
    display: flex; justify-content: space-between; align-items: center; padding: 0 3rem;
}
.menu {
    display: flex; gap: 1rem; list-style: none;
}

.menu a {
    text-decoration: none; color: var(--cor05); font-family: var(--font-padrao); font-size: 1.5rem;
    transition: .6s ease-out;
}
.menu a:hover {
    color: var(--cor10);
}

#bnt-mobile {
    color: var(--cor08); font-size: 1.6rem; display: none; cursor: pointer;
}

/*responsividade mobile*/

@media screen and (max-width: 678px) {
    #bnt-mobile {display: block;}

    .menu {
        display: block;
        position: absolute; top: 20%; right: 0;
        background: var(--cor06); 
        width: 0; height: 80vh; 
        visibility: hidden;
        overflow: hidden;
        transition: .6s;
    }

    .nav.active .menu {
        display: block;
        visibility: visible; width: 50%;
    }
    
    .menu a {
        display: block;
        padding: 2rem 0;
        margin: 0 2.5rem; text-align: center;
        border-bottom: 2px solid var(--cor07-transp);
    }
}

/*carrossel de imagens*/

.carrossel {
    width: 1000px; height: 450px; background: #59201B;
    margin: 2rem auto; list-style: none; border-radius: 100px 100px 300px 100px;
    display: flex;
}

.carrossel li {
    width: 1000px; height: 450px;
}

.carrossel img {
    width: 1000px; height: 450px;
    border-radius: 100px 100px 300px 100px;
}